body {
    padding: 0;
    margin: 0;
}

.item2 {
    grid-area: menu;
}
.item3 {
    grid-area: main;
}
.item4 {
    grid-area: right;
}
.item5 {grid-area: footer}


.grid-container {
    display: grid;
    grid-template-areas: 
    'menu main main main right right'
    'footer footer footer footer footer footer';
    grid-template-rows: 2fr 2fr;
    gap: 13px;
    padding: 10px; 
    height: 100vh;
    justify-content: center;
}

.grid-container > div {
    text-align: center;
    padding: 20px;
    font-size: 17px;
    height: auto;
} 


.item3, .item4 {
    flex-wrap: wrap-reverse;
}

.item {
    position: relative;
    background-image: url(cloud.jpg);
    isolation: isolate;
}
.item::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: azure;
    opacity: 0.5;
}


.item2 {
    width: 290px;
    height: 400px;
    background-color: aquamarine;
    box-shadow: 2px 1px 3px 3px rgba(10, 10, 10, 0.5);
}




.item3 h2 {
    font-size: 21px;
}
.item3 {
    display: block;
    width: 290px;
    text-align: center;
    background-color: cornflowerblue;
    box-shadow: 2px 1px 3px 3px rgba(10, 10, 10, 0.5);
}
.item4 h3 {
    font-size: 30px;
}
.item4 {
    flex-wrap: wrap;
    background-color: hotpink;
    width: 290px;
    box-shadow: 2px 1px 3px 3px rgba(10, 10, 10, 0.5);
}
h4 {
    font-size: 35px;
}
.item5 {
    background-color: lightcoral;
    box-shadow: 2px 1px 3px 3px rgba(10, 10, 10, 0.5);
}